@import url('https://fonts.google.com/share?selection.family=Alumni+Sans:wght@200;400;700&display=swap');


:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color: #ff6347;
    --hero-height: 100vh;
    --max-width: 1200px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header img{
    margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}


.hero {
    position: relative;
    /*top: 0px;
    left: 0px;*/
}

.hero img {
    display: block;
    width: 103%;
    height: 600px;
    /*top: 0px;*/
    left: 0px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    text-align: center;
    padding: 1rem;
    top: 5%;
    width: 100%;
    background: black;
    font-size: 4rem;
    opacity: 0.7;
}

.article {
    position: absolute;
    text-align: justify;
	background:#4567aa;
	padding: 0.15rem;
	box-shadow: 0 0 30px #111;
    top: 300px;
    left: 50px;
    right: 50px;
    opacity: 0.9;
}

.article h3 {
    opacity: 1;
}

.article img {
    float: right;
    clear: none;
    width:150px;
    height:150px;
    opacity: 1;
}


section {
    display: grid;
    margin-top: 50px;
}

.grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(90px, auto);
}

section h2 {
    grid-column: 1/4;
    grid-row: 1;
    text-align:center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  
    
}

section p {
    justify-content:flex-start;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    grid-column: 1/3;
    grid-row: 2;
    text-align: justify;
    padding: 2px;
    border: 2px;
    margin: 2px;
}
section img{
    grid-column: 3;
    grid-row: 2;
    justify-self: stretch;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid var(--primary-color);
}

footer a {
    text-decoration: none;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


.adventure{
    display: flexbox;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(90px, auto);
}

.adventure h2 {
    
    text-align:center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  
    
}

.adventure img{
    width: 300px;
}

