@import url('https://fonts.google.com/share?selection.family=Alumni+Sans:wght@200;400;700&display=swap');


:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color: #ff6347;
    --hero-height: 100vh;
    --max-width: 1200px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header img{
    margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}


section {
    display: grid;
    margin-top: 40px;
}

.grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(90px, auto);
}




.company-info{
    display: grid;
    margin-top: 50px;

}

.company-info h2 {
    grid-column: 1/3;
    grid-row: 1;
    text-align:center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    
}
.company-info p{
    grid-column: 1;
    text-align:center;
    padding: 2px;
    border: 2px;
    margin: 2px;
}

.company-info .map {
    grid-row: 3;
    grid-column: 2;
    width: 500px;
    height: 1%;
    border: 0;
}

.employee-profiles h2{
    grid-column: 1/4;
    grid-row: 1;
    text-align:center;
    font-size: 2.5rem;
    margin-bottom: 20px; 
}

.profile img{
    width: 250px;
    height: 150px;        
}

.contact-form h2{
    grid-column: 1/4;
    grid-row: 1;
    text-align:center;
    font-size: 2.5rem;
    margin-bottom: 20px; 
}

form {
    
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    margin-top: 5px;
}

button {
    display: block;
    margin-top: 10px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid var(--primary-color);
}

footer a {
    text-decoration: none;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
